/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
#h-container {
    width: 350px;
    height: 100px;
    margin: 0px auto;
    background-color: black;
}
h1,h2,h3,h4,a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 35px;
}
#logo {
    width: 150px;
    margin: 25px 100px;
}
#container1 {
    width: 350px;
    height: 350px;
    margin: 0px auto;
    text-align: center;
    background-image: url(../img/banner.jpg);
    background-size: cover;
}
#container1 h1 {
    padding: 25px;
    font-size: 35px;
    color: #25a2c3;
}
#btn-partiamo {
    margin: 20px 90px;
    padding: 15px;
    background-color: #f04c2f;
    border-radius: 5px;
}
#btn-partiamo:hover {
    box-shadow: 4px 4px 4px 4px lightgray;
}
#btn-partiamo>a{
    text-decoration: none;
    color:white;
    text-transform: none;
}
#container2 {
    width: 350px;
    height: 800px;
    margin: 0px auto;
    text-align: center;
    padding-top: 50px
}
.titolo {
    color:#25a2c3;
    padding: 10px 0px;
    text-align: center;
}
#nb-pic {
    width: 300px;
    border-radius: 50%;
}
#d-orange {
    width: 350px;
    height: 250px;
    margin: 0px auto;
    text-align: center;
    background-color: #f04c2f;
    padding-top: 25px;
}
.o-titolo {
    color: white;
    font-size: xx-large;
    padding: 20px 0px;
}
.o-paragrafo {
    color:white;
    padding: 10px 0px;
    line-height: 20px;
}
#o-par {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: italic;
}
.contain {
    width: 300px;
    height: 350px;
    margin: 20px auto;
    border: 1px solid #dee1e3;
    border-radius: 5px;
}
.pic {
    width: 300px;
}
#foot {
    width: 350px;
    height: 350px;
    margin: 0px auto;
    text-align: center;
    background-color: #25a2c3;
}
.f-titolo {
    font-size: x-large;
    padding: 35px 0px;
    color: white;
}
.f-paragrafo {
    color:white;
}
.f-paragrafo>a {
    color: white; 
    text-transform: none;
}
.ionicons {
    color: white;
}
#foot hr {
    width: 150px;
    text-align: center;
    color: white;
}